name: Testando workflow_dispatch

on:
    workflow_dispatch:
        inputs:
            environment:
                description: "Ambiente de execução"
                required: true
                default: "staging"
                type: choice
                options:
                    - dev
                    - staging
                    - prod
            run_tests:
                description: "Deve executar os testes"
                required: true
                type: boolean
                default: true
            node_version:
                description: "Define a versão Node.JS"
                required: true
                default: "20"
                type: choice
                options:
                    - "22"
                    - "20"
                    - "18"

jobs:
    setup:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: ${{github.event.inputs.node_version}}
                  cache: "npm"

            - name: Log de contexto
              run: |
                  echo "Ambiente escolhido: ${{github.event.inputs.environment}}"
                  echo "Branch: ${{github.ref_name}}"
                  echo "Commit: ${{github.sha}}"

    tests:
        if: ${{ github.event.inputs.run_tests == 'true'}}
        runs-on: ubuntu-latest
        needs: setup
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: ${{github.event.inputs.node_version}}
                  cache: "npm"

            - name: Instalando dependências
              run: npm ci

            - name: Executando testes
              run: npm run test
