name: Teste1

# Quando é disparado?
on:
    push:
        branches:
            - test1

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: "npm"
            - name: Log do contexto
              run: |
                  echo "Repository: ${{github.repository}}"
                  echo "Branch: ${{github.ref_name}}"
                  echo "Commit: ${{github.sha}}"

            - name: Instalação de dependências
              run: npm ci

            - name: Build
              run: npm run build

    tests:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: "npm"

            - name: Log de contexto
              run: |
                  echo "Repo: ${{github.repository}}"
                  echo "Branch: ${{github.ref_name}}"
                  echo "Commit: ${{github.sha}}"

            - name: Instalando dependências
              run: npm ci

            - name: Rodando testes
              run: npm run test
